<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PostgresConnection"
			 connectionString="Server=localhost;Port=5432;Database=Evelyn;User Id=PostgreSQL;Password=Evelyn123;"
			 providerName="Npgsql" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
